/* Default settings */
* {
    box-sizing: border-box;
    width: 800px;
    margin: 0 auto;
    padding: 0;
    font-family: "Comic Sans MS";
}

/* Header */

.header {
    height: 70px;
    max-width: 800px;
}

.header--nav {
    display: flex;
    align-items: center;
    height: 70px;
    background-image: linear-gradient(to top, #2e0537, #333973, #106da9, #00a2d1, #12d8eb);
}

.header--nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

li {
    margin: 5px;
    padding: 5px;
    text-align: center;
    transition: 0.3s;
}

li:hover {
    transform: translateY(2px);
    border: 1px solid black;
    transition: 0.3s;
}

a {
    color: black;
    text-decoration: none;
}

/* Main page */

.hero--img {
    height: 300px;
    width: 100%;
    border-top: blueviolet;
    background-image: url("../img/gymtitle.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 800px 390px;
}
.hero--container{
    width: 800px;
    max-width: 800px;
    height: 400px;
    margin: 20px;
}

/* Form */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin-top: 50px;
}

.form--label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.form--input {
    margin-top: 10px;
    padding: 7px;
    width: 30%;
}

.form--button {
    margin-top: 30px;
    padding: 5px;
    width: 20%;
}