/* <<<< Default settings >>>> */
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: "Comic Sans MS";
}
main{
    background-image: linear-gradient(to bottom, #2e0537, #333973, #106da9, #00a2d1, #12d8eb);
    min-height: 82vh;
    max-width: 800px;
}


/* <<<< Header >>>> */

.header {
    height: 70px;
    max-width: 800px;
}

.header--nav {
    display: flex;
    align-items: center;
    height: 70px;
    background-image: linear-gradient(to top, #2e0537, #333973, #106da9, #00a2d1, #12d8eb);
}

.header--nav-ul {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

li {
    margin: 5px;
    padding: 5px;
    text-align: center;
    transition: 0.3s;
}

li:hover {
    transform: translateY(2px);
    border: 1px solid white;
    transition: 0.3s;
}

a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/* <<<< Main page >>>> */

.main--container {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.hero--img {
    height: 300px;
    width: 100%;
    border-top: blueviolet;
    background-image: url("../img/gymtitle.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 800px 390px;
}

.hero--container {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
    align-content: center;
    grid-gap: 50px;
    background-image: linear-gradient(to bottom, #2e0537, #333973, #106da9, #00a2d1, #12d8eb);
    width: 800px;
    height: 400px;
    padding: 20px;
}

.hero--offers {
    border: 1px solid gray;
    width: 100%;
    height: 300px;
    text-align: center;
}

h3 {
    color: white;
    margin: 10px 5px;
    font-size: 20px;
}

span {
    color: white;
    font-size: 15px;
    display: block;
    margin: 0 5px;

}

.hero--offers-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40%;
}

.trainer {
    background-image: url("../img/trainer.jpg");
}

.masaze {
    background-image: url("../img/masaze.jpg");
}

.sauna {
    background-image: url("../img/sauna.jpg");
}

/* <<<< Footer >>>> */

footer {
    height: 70px;
    width: 800px;
    background-image: linear-gradient(to top, #2e0537, #333973, #106da9, #00a2d1, #12d8eb);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    color: white;
    font-size: 13px;
}

/* <<<< Form >>>> */

.form {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.form--label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.form--input {
    margin-top: 10px;
    padding: 7px;
    width: 30%;
}

.form--button {
    margin-top: 30px;
    padding: 5px;
    width: 20%;
}

.form--text {
    color: #C90000;
    font-size: 14px;
    margin: 10px 0;
}

.form--error {
    color: #C90000;
    font-size: 14px;
}

/* <<<< Feedback >>>>*/

.feedback--container {
    width: 800px;
    color: white;
}

.feedback--title {
    color: white;
    padding: 10px;
}

.table {
    color: white;
    width: 800px;
    height: auto;
    text-align: center;
    padding: 30px 0;
}

.field--error {
    color: #C90000;
    font-size: 14px;
}

.feedback--container > a {
    margin: 10px;
    padding: 5px;
    transition: 0.3s;
}

.feedback--container > a:hover {
    border: 1px solid white;
    transition: 0.3s;

}

.message {
    padding: 10px;
}

/* <<<<<<<<<<<<<<<< RESPONSIVE >>>>>>>>>>>>>>>>>>> */


@media only screen and (max-width: 400px) {
    main {
       background-image: linear-gradient(to bottom, #2e0537, #333973, #106da9, #00a2d1, #12d8eb);
       min-height: 82vh;
       max-width: 400px;
   }

    /* <<<< Header >>>*/
    a {
        font-size: 15px;
    }

    .header--nav {
        width: 400px;
    }

    .header--nav-ul {
        justify-content: center;
    }


    li:hover {
        transform: translateY(2px);
        border: 1px solid white;
        transition: 0.3s;
    }

    /* <<<< Main page >>>> */
    .main--container {
        width: 400px;
    }

    .hero--img {
        background-size: 400px 250px;
        background-position: top;
        width: 400px;
        height: 150px;
    }

    .hero--container {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 400px;
        grid-gap: 0;
        padding: 20px 20px 0 20px;
    }

    .hero--offers {
        margin-bottom: 20px;
    }

    .hero--offers-img {
        background-position: top;
    }

    iframe {
        height: 300px;
        width: 400px;
    }

    /* <<<< Footer >>>> */
    footer {
        width: 400px;
    }

    /* <<<< From >>>> */
    .form {
        width: 400px;
    }

    .form--input {
        width: 50%;
    }

    .form--button {
        width: 35%;
    }

    /* <<<< Feedback >>>>*/
    .feedback--container {
        width: 400px;
    }

    .table {
        width: 400px;
    }

    td {
        font-size: 14px;
    }
}
